*.xml
*.patch
/draggable windows/
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/videoicon.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/button_1.gif
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/button_2.gif
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/button_3.gif
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/dronecursor.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/emailicon.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/ggcursor.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/link.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/move.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/musicicon.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/nekomail.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/notepadicon.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/text.png
/.idea/shelf/Uncommitted_changes_before_Update_at_2025_05_09_11_44_[Changes]/videoicon.png
